/* Base styles for navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation links */
    align-items: center; /* Vertically align links */
    height: 50px; /* Set a specific height for your nav bar */
}

nav ul li {
    position: relative; /* Needed for absolute positioning of dropdown */
    margin-right: 20px; /* Space between menu items */
    padding: 10px; /* Padding for clickable area */
}

nav a {
    text-decoration: none;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #D7CFC7; /* Soft beige color for text */
    background-color: #6F4E37; /* Dark coffee color */
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #835C3B; /* Slightly lighter brown for hover */
    color: #F4EDE5; /* Light color for text on hover */
}

/* Focus effect for accessibility */
nav ul li a:focus {
    outline: none;
    border-color: #f4efe8;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    color: #D7CFC7;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
